header{
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
}

.miestilo{
    color: cadetblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}